{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="formulario">
        <div class="fos_user_user_show">
            <div class= row>
            	<label>
                {{ 'profile.show.username'|trans }}
           		</label>
           		<input type="text" disabled="true" class="value" value="{{ user.username }}">
            </div>
        	<div class= row>
        		<label>
        	        {{ 'profile.show.email'|trans }}
        	    </label>
    	        <input type="text" disabled="true" class="value" value="{{ user.email }}">
			</div>
			 <div class="row">
                 <div align="center">
                	<a href="/profile/edit">Editar Datos</a>
                </div>
            </div>
            <div class="row">
                 <div align="center">
                	<a href="/profile/change-password">Cambiar contraseña</a>
                </div>
            </div>
			<div class="row">
                <div align="center">
                	<a href="/">Inicio</a>
                </div>
        	</div>
        </div>
    </div>
{% endblock %}
