{% extends 'base.html.twig' %}
{% form_theme form 'form/form_customizations.html.twig' %}

{% block body %}
	
    {{ form_start(form) }}
    <div class="formulario">
    	{% if operacion is defined and operacion==constant('AppBundle\\Utils\\ConstantesDeOperaciones::CREAR') %}
    	    {% set t_options = {} %}
    	{% else %}
    		{% set t_options = {'attr': {'disabled': 'true'} } %}
    	{% endif %}
    	
        {% block form %}{% endblock %}
        
        {% block buttons %}
        
            {% if operacion is defined and operacion==constant('AppBundle\\Utils\\ConstantesDeOperaciones::CREAR') %}
            <div class="row">
            	<div align="center">
            		<button class="button" type="submit">Guardar!</button>
            	 </div>
            </div>
            {% endif %}
             <div class="row">
                 <div align="center">
                	<a href="{{ path('listar_entidad', {'nombreEntidad':nombreEntidad}) }}">Atras</a>
                </div>
            </div>
            
        {% endblock %}
    </div>
    {{ form_end(form) }}

{% endblock %}