@CHARSET "ISO-8859-1";

.contenido {
	width: 50%;
	min-width: 640px;
	padding-left: 150px;
}

.formulario {
	padding-right: 250px;
}

.row {
	clear: both;
	padding-top: 3px;
	padding-bottom: 3px;
}

.row label {
	float: left;
}

.row .value {
	float: right;
}

.header {
	font-weight: bold;
	padding-top: 8px;
}