@CHARSET "ISO-8859-1";

.contenido {
	width: 50%;
	min-width: 640px;
	padding-left: 150px;
}

.formulario {
	margin: 0 0 150px 0;
  	width:70%;
  	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}

.row label {
	float: left;
	color: blue;
	padding: 6px 12px;
	
}

.row .value {
	float: right;
  	margin: 6px  12px;
}
.row .value .text{
	float: right;
	padding: 6px 12px;
}

.header {
	font-weight: bold;
	padding-top: 8px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #9e9e9e;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  background: #f6f6f6;
}

.formulario .row {
  overflow: hidden;
}

.table .row {
  display: table-row;
}

.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}
/* Style the links inside the navigation bar */
.topnav li{
    float: left;
    padding: 14px 16px;  
}

.topnav a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
/* Change the color of links on hover */
.topnav li:hover {
    background-color: #b9b9b9;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .menu_level_1 {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    background-color: #f9f9f9;
}

.menu_level_1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    list-style-type: none;
}

.menu_level_1 li {
    float: none;
    color: black;
    text-decoration: none;
}

.menu_level_1 a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu_level_1 li:hover {
    background-color: #b9b9b9;
}

.dropdown:hover .menu_level_1 {
    display: block;
}

.menu_level_2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    list-style-type: none;
}

.menu_level_2 li {
    float: none;
    color: black;
    text-decoration: none;
}

.menu_level_2 a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu_level_2 li:hover {
    background-color: #b9b9b9;
}

.dropdown:hover .menu_level_2 {
    display: block;
}

.container_value {
	clear: both;
	padding-left: 5px;
    padding-bottom: 5px;
}

.container_row {
    background: #cccccc;
}

.container_row:nth-of-type(odd) {
  background: #b3b3b3;
}

label.container_label {
    text-align: center;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    color: #00004d;
}

.uppercase {
	text-transform: uppercase;
}

/* forms */
input.error {
	border-color: red;
	border-width: 1px;
}

input.error:focus {
	border-color: red;
	border-width: 1px;
}

label.error {
	color: red;
}

/* denuncia */
.denuncia .rol {
	display: none;
}

.delete_btn  {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 5px 0px 0px;
	font-size: 14px;
	line-height: 1.42857143;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.row.derechos .value {
    float: none;
}

.row.vulneradoresDerechos .value {
	float: none;
}

.vulneradoresDerechos .elemento {
	float: left;
	width: 50%;
}

.vulneradoresDerechos label {
	float: none;
}

.derechos .elemento {
	float: left;
	width: 25%;
}

.derechos label {
	float: none;
}

/* user_profile CSS */
.fos_user_profile_edit .container_value {
	padding-left: 0px;
	padding-bottom: 0px;
}

/* user_change_password CSS */
.fos_user_change_password .container_value {
	padding-left: 0px;
	padding-bottom: 0px;
}

/* tooltip */
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px;
    opacity: 0;
    transition:opacity 0.4s ease-out;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext:hover {
	 visibility: hidden!important;
	 opacity: 0!important;
}

.derechos.row {
	overflow: visible;
	height: 230px;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  overflow: hidden;
}

.alert p {
  padding: 0;
  margin: 0;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-primary hr {
  border-top-color: #9fcdff;
}

.alert-primary .alert-link {
  color: #002752;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-secondary hr {
  border-top-color: #c8cbcf;
}

.alert-secondary .alert-link {
  color: #202326;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info hr {
  border-top-color: #abdde5;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning hr {
  border-top-color: #ffe8a1;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger hr {
  border-top-color: #f1b0b7;
}

.alert-danger .alert-link {
  color: #491217;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-light hr {
  border-top-color: #ececf6;
}

.alert-light .alert-link {
  color: #686868;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.alert-dark hr {
  border-top-color: #b9bbbe;
}

.alert-dark .alert-link {
  color: #040505;
}

a.close:hover {
    color: black !important;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-left: 20px;
}